version: 0.3.1-{build}

environment:
  matrix:
  - GENERATOR: "Visual Studio 12"
    CONFIG: Release
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON
  - GENERATOR: "Visual Studio 12"
    CONFIG: Debug
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON

  - GENERATOR: "Visual Studio 12 Win64"
    CONFIG: Release
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON
  - GENERATOR: "Visual Studio 12 Win64"
    CONFIG: Debug
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON

  - GENERATOR: "Visual Studio 14"
    CONFIG: Release
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON
  - GENERATOR: "Visual Studio 14"
    CONFIG: Debug
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON

  - GENERATOR: "Visual Studio 14 Win64"
    CONFIG: Release
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON
  - GENERATOR: "Visual Studio 14 Win64"
    CONFIG: Debug
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON

  - GENERATOR: "MinGW Makefiles"
    CONFIG: Release
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON
  - GENERATOR: "MinGW Makefiles"
    CONFIG: Debug
    OPTIONS: -DZF_LOG_EXAMPLES:bool=ON -DZF_LOG_TESTS:bool=ON
    
build_script: 
  
  # Use MinGW from Qt tools because version is higher
  # * http://www.appveyor.com/docs/installed-software#qt
  - cmd: set MINGW_PATH=C:\Qt\Tools\mingw492_32\bin

  # Workaround for CMake not wanting sh.exe on PATH for MinGW
  - set PATH=%PATH:C:\Program Files (x86)\Git\bin;=%
  
  - ps: mkdir build.msvc
  - ps: cd build.msvc
  - cmake "-G%GENERATOR%" %OPTIONS% ..
  - cmake --build . --config "%CONFIG%"

test_script:
  - ctest --output-on-failure -C "%CONFIG%"
